@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
*/



body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./PHOTOS/back007.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: grey 0px 3px 3px;
    background-image: url(./PHOTOS/back007.jpg);
    background-size: cover;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    height: 100px;
}

.logo img{
    height: 100%;
}


.header nav ul{
    display: flex;
    font-size: 2rem;
    padding-right: 3rem;
}

.header nav ul li{
    margin-right: 2rem;
    list-style-type: none;
}

.header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.header nav ul li a:hover{
    color: grey;
    border-bottom: 4px solid darkred;
}

main{
    padding-top: 7%;
    padding-bottom: 2%;
    width: 90%;
    margin: auto;
}

.experience-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.experience{
    margin: 2rem;
    height: 60vh;
    width: 40vw;
    border-radius: 40px;
    z-index: -1;
    background: rgb(230,230,230);
    background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(103,103,103,1) 100%);

}

.experience-picture{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.experience-picture-3{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.experience-picture-4{
    display: flex;
    justify-content: center;
}

.experience-picture img{
    height: 70px
}

.experience-picture-3 img{
    height: 100px
}

.experience-picture-4{
    height: 140px;
}

.experience-info{
    width: 90%;
    margin: auto;
}

.experience-info ul{
    list-style-type: disc;
}

h4{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.5rem;
    background-color: darkred;
    color: white;
}

h5{
    text-align: center;
}

.exp-anim-01{
    animation-duration: 2s;
}

.exp-anim-02{
    animation-duration: 2s;
    animation-delay: 0.7s;
}

.exp-anim-03{
    animation-duration: 2s;
    animation-delay: 1.4s;
}

.exp-anim-04{
    animation-duration: 2s;
    animation-delay: 2.1s;
}

.animation{
    opacity: 0;
    animation-fill-mode: forwards;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.footertext{
    text-align: right;
    padding-right: 2rem;
    color: grey;
}